<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include( "./_share/stylesheets.ejs") %>
</head>

<body class="text-center">

  <%- include( "./_share/navbar.ejs") %>

  <main class="container">
    <div>
      <h1>Dash Board</h1>
      <p class="lead">
        Welcome
        <% if (currentUser) { %>
        <span><%= currentUser %>!</span> You're logged in!!
        <% } else { %>
        <span>Please register or login.</span>
        <% } %>
      </p>
    </div>
  </main>
  <%- include( "./_share/javascripts.ejs") %>
</body>

</html>