<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include( "./_share/stylesheets.ejs") %>
</head>

<body class="text-center">
    <%- include( "./_share/navbar.ejs") %>

        <main class="container">
            <div>
                <h1>NodeApp</h1>
                <p class="lead">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque voluptate quasi possimus dolor accusantium odio, debitis id corporis? Illum facilis repellendus pariatur voluptates vero ex inventore cum rerum eum dolorum.
                </p>
            </div>
        </main>

        <%- include( "./_share/javascripts.ejs") %>
</body>

</html>