<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include( "./_share/stylesheets.ejs") %>
</head>

<body class="text-center">
  <main class="container">
    <% 
      const data = locals.data || { title: "No", userName: "No" }
    %>
    <div>
      <h1><%= data.title %></h1>
      <p><%= data.userName %></p>
      <div>
        <form class="form-group" action="/test/create" method="POST">
          <input class="btn btn-secondary" type="submit" value="Click Me!">
        </form>
      </div>
    </div>
  </main>

</body>

</html>